@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, pink, purple);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #032b2abe;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0FC2C0;
    text-align: center;
    text-shadow: 1px 1px 2px #097775c7;
}

h2 {
    color: #0CABA8;
}

p {
    text-align: justify;
}